/* reseteo css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

.social-icons i {
  font-size: 2rem;
  margin: 0 0.5rem;
}

.fondo{
  background-color: rgb(116, 177, 116);
}

.contenedor {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "publicidad publicidad"
    "footer footer";
  gap: 1rem;
}

.encabezado {
  grid-area: header;
}

.main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
}

.main .publicacion{
  padding: 1rem;
}

.publicidad {
  grid-area: publicidad;
  position: fixed;
  background-color: rgb(53, 53, 187);
  bottom: 0;
  height: 4rem;
  width: 98%;
  text-align: center;
  margin: 0.5rem;
}

.footer {
  grid-area: footer;
}

.carousel-item img {
  height: 15rem;
}

.nav-link__hover:hover {
  color: rgb(204, 36, 36);
}

.transiciones{
  transition: 0.5s;
}